<h2>Add an album</h2>

<form action="/albums" method="post">

<p>
<label for="banana">
    Name of Album
</label>
<input type="text" name="name" id="banana">
</p>

<p>
    <label for="peach">
        Artwork file
    </label>
    <input type="text" name="artwork" id="peach">
</p>

<label for="apple">
    Artist ID
</label>
<input type="number" name="artist_id" id="apple">

<input type="submit" value="Add Album">

</form>