<h2>Artists</h2>

<ul id="artist_list">

<% @artists.each do |artist| %>

<li><a href="/artists/<%= artist.id %>"><%= artist.name %></a> <span class="small">(<a href="/artists/<%= artist.id %>/edit">Edit/Delete</a>)</span></li>

<% end %>

</ul>