<h1>Add an artist</h1>

<form action="/artists" method="post">

<p>
<label for="banana">
    Name of Artist
</label>
<input type="text" name="name" id="banana">
</p>

<input type="submit" value="Add Artist">

</form>