<div id="home">

<h1>Paul's Music Library</h1>
<p>Welcome to my music collection. <br>It's a work in progress.</p>

<p><a href="/albums">Browse my albums</a></p>

<p><a href="/artists">Check out the artists</a></p>
</div>