<!DOCTYPE html>
<html>
<head>
    <title>Music Library</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>

<p id="navigation"><a href="/">Home</a> | <a href="/albums">Albums</a> | <a href="/artists">Artists</a></p>

<div id="content">

<%= yield %>

</div>

</body>
</html>